In [1]:
pwd

'C:\\Users\\admin\\Desktop\\Personal_stuff\\PROJECTS\\Advanced pandas'

In [2]:
#Loading libraries
import pandas as pd
import numpy as np

In [3]:
#Loading the dataframe
df1 = pd.read_csv("C:\\Users\\admin\\Desktop\\Personal_stuff\\PROJECTS\\Advanced pandas\mexico-city-real-estate-4.csv", encoding="ISO-8859-1")

In [4]:
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4628 entries, 0 to 4627
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  4628 non-null   int64
 1   operation                   4628 non-null   object
 2   property_type               4628 non-null   object
 3   place_with_parent_names     4628 non-null   object
 4   lat-lon                     4135 non-null   object
 5   price                       4540 non-null   float64
 6   currency                    4540 non-null   object
 7   price_aprox_local_currency  4540 non-null   float64
 8   price_aprox_usd             4540 non-null   float64
 9   surface_total_in_m2         1697 non-null   float64
 10  surface_covered_in_m2       4465 non-null   float64
 11  price_usd_per_m2            1148 non-null   float64
 12  price_per_m2                4278 non-null   float64
 13  floor                       294 non-null    float64
 14  rooms                       103 non-null    float64
 15  expenses                    5 non-null      float64
 16  properati_url               4628 non-null   object
dtypes: float64(10), int64(1), object(6)
memory usage: 614.8+ KB

In [18]:
#df1.style.format(dict(Date='{:%m/%d/%Y}')).hide_index().background_gradient(subset='Volume',cmap='Blues')

In [5]:
#Selecting a series in a dataframe
price_aprox_usd = df1["price_aprox_usd"]
price_aprox_usd.head()

0    850000.00
1    332451.71
2     52686.48
3     48581.99
4    210745.93
Name: price_aprox_usd, dtype: float64

## Subset a DataFrame by Selecting One or More Columns

In [6]:
df2 = pd.read_csv("C:\\Users\\admin\\Desktop\\Personal_stuff\\PROJECTS\\Advanced pandas\mexico-city-real-estate-5.csv", encoding = "ISO=8859-5")
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4628 entries, 0 to 4627
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  4628 non-null   int64
 1   operation                   4628 non-null   object
 2   property_type               4628 non-null   object
 3   place_with_parent_names     4628 non-null   object
 4   lat-lon                     4129 non-null   object
 5   price                       4558 non-null   float64
 6   currency                    4558 non-null   object
 7   price_aprox_local_currency  4558 non-null   float64
 8   price_aprox_usd             4558 non-null   float64
 9   surface_total_in_m2         1745 non-null   float64
 10  surface_covered_in_m2       4442 non-null   float64
 11  price_usd_per_m2            1247 non-null   float64
 12  price_per_m2                4271 non-null   float64
 13  floor                       302 non-null    float64
 14  rooms                       126 non-null    float64
 15  expenses                    1 non-null      float64
 16  properati_url               4628 non-null   object
dtypes: float64(10), int64(1), object(6)
memory usage: 614.8+ KB

In [7]:
mexico_df = df2[["property_type","place_with_parent_names","price"]]
mexico_df.head()

  property_type                  place_with_parent_names      price
0         house        |Tlalpan|Distrito Federal|Mщxico|  4890000.0
1     apartment  |Benito Juсrez|Distrito Federal|Mщxico|  1570000.0
2     apartment  |Benito Juсrez|Distrito Federal|Mщxico|  2700000.0
3     apartment        |Tlalpan|Distrito Federal|Mщxico|  1370000.0
4     apartment     |Iztapalapa|Distrito Federal|Mщxico|   840400.0

## Subset the Columns of a DataFrame Based on Data Types

In [15]:
df3 = pd.read_csv("C:\\Users\\admin\\Desktop\\Personal_stuff\\PROJECTS\\Advanced pandas\mexico-city-real-estate-3.csv", encoding = "ISO=8859-5")
df3.head()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4628 entries, 0 to 4627
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  4628 non-null   int64
 1   operation                   4628 non-null   object
 2   property_type               4628 non-null   object
 3   place_with_parent_names     4628 non-null   object
 4   lat-lon                     4145 non-null   object
 5   price                       4557 non-null   float64
 6   currency                    4557 non-null   object
 7   price_aprox_local_currency  4557 non-null   float64
 8   price_aprox_usd             4557 non-null   float64
 9   surface_total_in_m2         1742 non-null   float64
 10  surface_covered_in_m2       4427 non-null   float64
 11  price_usd_per_m2            1207 non-null   float64
 12  price_per_m2                4260 non-null   float64
 13  floor                       322 non-null    float64
 14  rooms                       139 non-null    float64
 15  expenses                    2 non-null      float64
 16  properati_url               4628 non-null   object
dtypes: float64(10), int64(1), object(6)
memory usage: 614.8+ KB

In [9]:
#Creating a dataframe containing numbers only 
numbers_df = df3.select_dtypes(include = "number")
numbers_df.head()

,Unnamed: 0,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
0,1,2715592.0,2691025.94,143074.99,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,5050000.0,5005502.90,266129.83,400.0,338.0,665.324575,14940.828400,2.0,NaN,NaN
2,3,9500000.0,9416292.89,500640.29,340.0,1050.0,1472.471441,9047.619048,NaN,NaN,NaN
3,4,810000.0,802672.48,42676.05,92.0,78.0,463.870109,10384.615380,NaN,NaN,NaN
4,5,500000.0,495476.82,26343.24,48.0,NaN,548.817500,NaN,NaN,2.0,NaN

In [10]:
#Creating a dataframe that excludes numbers
non_num_df = df3.select_dtypes(exclude = "number")
non_num_df.head()

,operation,property_type,place_with_parent_names,lat-lon,currency,properati_url
0,sell,apartment,|Gustavo A. Madero|Distrito Federal|Mщxico|,"19.5010872,-99.1230477",MXN,http://lindavista-norte.properati.com.mx/qygs_...
1,sell,house,|Benito Juсrez|Quintana Roo|Mщxico|,"21.161908,-86.8515279",MXN,http://cancun.properati.com.mx/d0mg_venta_casa...
2,sell,store,|Gustavo A. Madero|Distrito Federal|Mщxico|,NaN,MXN,http://gustavo-a-madero.properati.com.mx/i3tn_...
3,sell,house,|Benito Juсrez|Quintana Roo|Mщxico|,"21.141616,-86.86109",MXN,http://cancun.properati.com.mx/qr5j_venta_casa...
4,sell,apartment,|Iztapalapa|Distrito Federal|Mщxico|,"19.3603443968,-99.089448452",MXN,http://san-pablo.properati.com.mx/9e3n_venta_d...

## Subset a DataFrame's Columns Based on the Column Names

In [11]:
drop_cols = [
    "lat-lon",
    "price",
    "currency",
    "price_aprox_local_currency",
    "price_aprox_usd",
    "surface_total_in_m2",
    "surface_covered_in_m2",
    "price_usd_per_m2",
    "price_per_m2",
    "floor",
    "rooms",
    "expenses",
    "properati_url",
]

keep_cols = ["operation", "property_type", "place_with_parent_names"]

In [12]:
mexico_city3_subsetted = df3[keep_cols]

In [14]:
mexico_city3_subsetted.head()

  operation property_type                      place_with_parent_names
0      sell     apartment  |Gustavo A. Madero|Distrito Federal|Mщxico|
1      sell         house          |Benito Juсrez|Quintana Roo|Mщxico|
2      sell         store  |Gustavo A. Madero|Distrito Federal|Mщxico|
3      sell         house          |Benito Juсrez|Quintana Roo|Mщxico|
4      sell     apartment         |Iztapalapa|Distrito Federal|Mщxico|

## Pivot Table

In [19]:
#Creating a pivot table to calculate the mean price for each property type
pivot_table_result = pd.pivot_table(df3, values='price', index='property_type', aggfunc='mean')
print('pivot_table_result')

pivot_table_result